[Desktop Entry]
Type=Application
Name=Banc d'essais
Exec=lxterminal -e 'python /home/pi/Banc_Robot/Software/Main.py'
Icon=/home/pi/Banc_Robot/Software/GUI/Images/Icones/BVR.gif
Terminal=true